<mdb-hero [background]="movie.backdrop_path" [height]="550">
    <div class="flex w-full h-full container">
        <img [src]="movie.poster_path" class="max-w-sm rounded-lg shadow-2xl"/>

        <div class="p-12">
            <h2 class="text-5xl font-bold mr-1">
                {{ movie.title }}
            </h2>
            <div class="mb-10 mt-2">
                <span class="mr-1">{{ movie.release_date | date:'dd MMMM yyyy' }} (US)</span>
                &#176;
                <span class="ml-1 mr-1">
                    <span *ngFor="let g of movie.genres; index as i">
                        {{ g.name }}<span *ngIf="i !== movie.genres.length -1">,</span>
                    </span>
                </span>
                &#176;
                <span class="ml-1 mr-1">
                    {{ movie.runtime | runtime }}
                </span>
            </div>

            <div class="movie__overview">
                <h3 class="text-2xl mb-2 font-bold">Overview</h3>

                <p>{{ movie.overview }}</p>
            </div>
        </div>
    </div>
</mdb-hero>
