<div class="mdb-settings container mx-auto mt-5">
    <h1 class="text-xl font-bold mb-2">Settings</h1>

    <div class="alert alert-info shadow-lg">
        <span>
            Get your Movie Database API key
            <a class="font-bold" href="https://www.themoviedb.org/settings/api" target="_blank">[HERE]</a>
        </span>
    </div>

    <form [formGroup]="form" class="form-control w-full max-w-xs" (ngSubmit)="onSubmit()">
        <div class="mt-10">
            <label class="label">
                <span class="label-text">API key</span>
            </label>
            <div class="input-group relative">
                <input formControlName="apiKey"
                       class="mdb-settings__api-key-input input w-full max-w-xs"
                       [type]="showApiKey ? 'text': 'password'"
                       placeholder="Type here"/>
                <button (click)="showApiKey = !showApiKey" class="btn btn-square">
                    {{ showApiKey ? 'Hide' : 'Show' }}
                </button>
            </div>
        </div>

        <div class="mt-10">
            <label class="label">
                <span class="label-text">Theme</span>
            </label>
            <select formControlName="theme" class="mdb-settings__theme-select select select-ghost w-full max-w-xs">
                <option disabled selected>Pick theme</option>
                <option *ngFor="let t of themes" [value]="t">{{t}}</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary mt-10">Submit</button>
    </form>
</div>
