<mdb-hero title="Welcome" background="assets/hero.jpg">
    <p>
        Millions of movies to discover. Explore now.
    </p>
</mdb-hero>

<div class="container mx-auto mb-20">
    <mdb-carousel-section title="Trending movies" *ngIf="trendingMovies$ | async as movies">
        <mdb-loading class="carousel-section-loading" data-carousel-section-loading [loading]="movies.loading">
        </mdb-loading>

        <mdb-error-alert class="carousel-section-error" data-carousel-section-error [error]="movies.error">
        </mdb-error-alert>

        <div class="carousel-item flex-col w-48 cursor-pointer p-1 relative carousel-section-items"
            data-carousel-section-items *ngFor="let movie of movies.data">
            <mdb-movie-card [title]="movie.title" [poster]="movie.poster_path" [rating]="movie.vote_average" [date]="movie.release_date">
            </mdb-movie-card>
        </div>
    </mdb-carousel-section>


    <mdb-carousel-section title="Now playing" *ngIf="nowPlayingMovies$ | async as movies">
        <mdb-loading class="carousel-section-loading" data-carousel-section-loading [loading]="movies.loading">
        </mdb-loading>

        <mdb-error-alert class="carousel-section-error" data-carousel-section-error [error]="movies.error">
        </mdb-error-alert>

        <div class="carousel-item flex-col w-48 cursor-pointer p-1 relative carousel-section-items"
            data-carousel-section-items *ngFor="let movie of movies.data">
            <mdb-movie-card [title]="movie.title" [poster]="movie.poster_path" [rating]="movie.vote_average" [date]="movie.release_date">
            </mdb-movie-card>
        </div>
    </mdb-carousel-section>
</div>